.heading{
    font-size:23px;
    width:100%;
    margin:0px;
}
.note{
    font-size:15px;
    color:black;
}
body{
    background-size:cover;
}
.divSpeed{
    float:left;
}
.divSpeedImg,.divVolumeImg{
    width:200px;
    border-radius:100px;
}
#speed,#volume{
    font-size:23px;
    margin:15px;
}
.divVolume{
    float:right;
}
.playButton{
    width:150px;
    font-size:25px;
}
canvas{
    border-radius:20px;
    border:5px solid white;
}